@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,600');

html {
	height: 100%;
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}

